/**
 * Añadir aqui estilos personalizados para los componentes material
 */
//  Import application variables
@import "./vars";
.mat-mdc-button-base.ui-mat-rounded-button {
  border-radius: 16px;
}

.ui-mat-nav-tabs {
  .mat-mdc-tab-link {
    height: 32px;
    padding: 0 16px;
    min-width: initial;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  /*TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.
 */
  /*TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.
 */
  .mat-mdc-tab-link.mat-tab-label-active {
    opacity: 1;
    font-weight: bold;
  }
  .mat-ink-bar {
    height: 3px;
  }
  &.mat-mdc-tab-nav-bar {
    border-bottom-color: #b3b0ad;
  }
  &.no-border {
    border-bottom: 0;
  }
}
.ui-mat-async-process-button {
  /*TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.
 */
  /*TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.
 */
  .mat-button-wrapper span {
    vertical-align: middle;
  }
  .mif-spinner {
    font-size: 16px;
    margin-right: 4px;
  }
  &.processing {
    /*TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.
 */
    /*TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.
 */
    .mat-button-wrapper {
      color: var(--ngbiz-primary-color, $ngbiz-primary-color);
    }
  }
}
.mat-mdc-dialog-actions.ui-mat-editor-dialog-actions {
  padding-top: 20px;
  button:last-child {
    margin-left: 16px;
  }
}

// MODIFIERS
/*TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version.
 */
/*TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version.
 */
.mdf-mat-table-bd-t,
.mdf-mat-paginator-bd-t {
  border-top: 1px solid #d5d5d5;
}
/*TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version.
 */
/*TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version.
 */
.mdf-mat-table-bd-r,
.mdf-mat-paginator-bd-r {
  border-right: 1px solid #d5d5d5;
}
/*TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version.
 */
/*TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version.
 */
.mdf-mat-table-bd-b,
.mdf-mat-paginator-bd-b {
  border-bottom: 1px solid #d5d5d5;
}
/*TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version.
 */
/*TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version.
 */
.mdf-mat-table-bd-l,
.mdf-mat-paginator-bd-b {
  border-left: 1px solid #d5d5d5;
}
/**
 *
 * Menu items:
 *  - Edit
 *  - Delete
 */

.mat-mdc-menu-item {
  &.mdf-menu-item--delete {
    > mat-icon {
      color: #f44336;
    }
    &:hover {
      color: #d32f2f;
      > mat-icon {
        color: #d32f2f;
      }
    }
  }
  &.mdf-menu-item--edit {
    > mat-icon {
      color: blue;
    }
    &:hover {
      color: darken(blue, 10);
      > mat-icon {
        color: darken(blue, 10);
      }
    }
  }
}

/**
 * Expansion panel
 */
.ui-mat-expansion-panel--body-no-padding .mat-expansion-panel-body {
  padding: 0;
}
