/**
 * Variables SCSS usadas a lo largo del aplicativo.
 */

 // Primary, accent, warning and danger colors:
$ngbiz-primary-color: #76b82a;
$ngbiz-accent-color:  #37474f;
$ngbiz-warning-color: #ff9800;
$ngbiz-danger-color:  #f44336;
$ngbiz-info-color:    #2196f3;

$ngbiz-nav-item-height: 36px;
$ngbiz-filter-input-border-radius: 4px;

$ngbiz-body-bg-color:         #a3d8e5;
  // Worksheet
$ngbiz-worksheet-title-color:   #37474f;

$ngbiz-table-cell-border-color: #e0e0e0;
