/**
 * Variables SCSS usadas a lo largo del aplicativo.
 */

 // Primary, accent, warning and danger colors:
$primary-color: #689f38;
$accent-color:  #37474f;
$warning-color: #ff9800;
$danger-color:  #f44336;
$info-color:    #2196f3;

$ngx-nav-item-height: 36px;
$filter-input-border-radius: 4px;

$body-bg-color:         #a3d8e5;
  // Worksheet
$worksheet-title-color:   #37474f;
