:host {
  z-index: 200;
  background-color: #fafafa;
}
.cmp-wrapper {
  text-align: center;
}
.icon {
  color: #f44336;
  width: 64px;
  height: 64px;
}
.messaje {
  display: inline-block;
  max-width: 320px;
  margin-top: 24px;
}
.action-container {
  margin-top: 48px;
}
