:host {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

mat-toolbar {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.mat-mdc-button.menu-button {
  color: var(--mat-sys-on-primary);
  margin-right: 4px;
  min-width: unset;
  border-radius: 0;
  height: 100%;

  mat-icon {
    font-size: 26px;
    height: 26px;
    width: 26px;
    margin: 0;
  }
}

.ngbiz-user-pin {
  border-radius: 16px;

  & > * {
    vertical-align: middle;
  }
}

.ngbiz-username {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.photo-url {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.modal-menu {
  font-family: var(--mat-sys-body-medium-font);
  font-size: var(--mat-sys-body-medium-size);
}
mat-toolbar {
  height: 100%;
  font-size: 13px;
  padding: 0;
}

.block-user-idenfication {
  display: flex;
  padding: 0 16px;
  text-transform: uppercase;
  text-align: left;
  overflow: hidden;

  .names-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 4px;
    overflow: hidden;

    > div {
      line-height: 1.2;
      font-size: 10px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.exit-button {
  font-size: 12px;

  mat-icon {
    font-size: 19px;
    height: 20px;
    width: 20px;
  }
}

.separator {
  border-left: 1px solid #fff;
  width: 1px;
  height: 22px;
}

.abc {
  background-color: red;
}
