<mat-toolbar role="heading">
  <button mat-button class="menu-button" (click)="menuButtonClick.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{appName}}</span>
  <span class="flex-1"></span>
  <ng-content select="[userInfo]"></ng-content>
  <div *ngIf="showDefaultUserInfo" class="ngbiz-user-pin cursor-pointer mr-4" (click)="showMenu = !showMenu"
    cdkOverlayOrigin #trigger="cdkOverlayOrigin">
    <ngbiz-avatar [src]="user?.picture" [name]="user?.name" cdkOverlayOrigin [size]="avatarSize"></ngbiz-avatar>
    <span class="ml-2 ngbiz-username">{{user?.name}}</span>
    <!-- User menu -->
    <ng-template cdkConnectedOverlayHasBackdrop cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="showMenu" cdkConnectedOverlayBackdropClass="cdk-overlay-dark-backdrop"
      (backdropClick)="showMenu = false">
      <div class="bg-gray-50 p-4 shadow-md mt-1 rounded flex">
        <ngbiz-avatar [src]="user?.picture" [name]="user?.name"></ngbiz-avatar>
        <div class="pl-2">
          <div>
            <span>{{user?.name}}</span>
          </div>
          <div class="mt-2">
            <button mat-button (click)="logoutButtonClick.emit()">
              <mat-icon>exit_to_app</mat-icon><span>{{logoutText}}</span>
            </button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</mat-toolbar>