@import "../../../scss/vars";
$levelSpacing: 22px;
$selectionBorderWidth: 4px;
$itemHorizontalPadding: 16px;
$itemFontSize: 14px;
a {
  cursor: pointer;
  font-size: $itemFontSize;
  &.l1 {
    padding-left: $itemHorizontalPadding;
  }
  &.l2 {
    padding-left: $itemHorizontalPadding + $levelSpacing;
  }
  &.l3 {
    padding-left: $itemHorizontalPadding + $levelSpacing * 2;
  }
  &.l4 {
    padding-left: $itemHorizontalPadding + $levelSpacing * 3;
  }
}
a.active {
  border-left: $selectionBorderWidth solid
    var(--ngbiz-primary-color, $ngbiz-primary-color);

  mat-icon {
    color: var(--ngbiz-primary-color, $ngbiz-primary-color);
  }
  &.l1 {
    padding-left: $itemHorizontalPadding - $selectionBorderWidth;
  }
  &.l2 {
    padding-left: $itemHorizontalPadding + $levelSpacing - $selectionBorderWidth;
  }
  &.l3 {
    padding-left: $itemHorizontalPadding + $levelSpacing * 2 -
      $selectionBorderWidth;
  }
  &.l4 {
    padding-left: $itemHorizontalPadding + $levelSpacing * 3 -
      $selectionBorderWidth;
  }
}

mat-nav-list {
  padding-top: 0;
  width: 100%;
  .mat-mdc-list-item {
    height: $ngbiz-nav-item-height;
    font-size: 14px;
  }
}
mat-icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  margin-right: 4px;
  line-height: 18px !important;
  color: #616161;
}

.menu-item {
  display: flex;
  align-items: center;
  > * {
    line-height: 20px;
  }
}
mat-expansion-panel {
  border-radius: 0;
}
mat-expansion-panel-header {
  padding: 0 $itemHorizontalPadding;
  height: $ngbiz-nav-item-height !important;
  font-size: $itemFontSize;
  &.l2 {
    padding-left: $itemHorizontalPadding + $levelSpacing;
  }
  &.l3 {
    padding-left: $itemHorizontalPadding + $levelSpacing * 2;
  }
  &.l4 {
    padding-left: $itemHorizontalPadding + $levelSpacing * 3;
  }
  &.mat-expanded {
    height: $ngbiz-nav-item-height;
  }
}
